{% extends 'nav.html.twig' %}

{% block stylesheets %}
	<link href="{{asset('styles/homepage.css')}}">
{% endblock %}
{% block title %}Homepage
{% endblock %}

{% block main %}
	<main>
		<a href="{{ path('app_logout') }}">Se déconnecter</a>
	</main>
{% endblock %}
